/*
* Apple - apple.com
* SF Pro Display used on apple.com as of iPhone 7 (RED) launch (March 21st 2017)

usage:
  -   font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

  - known issues:
      - Access to Font at 'http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_bold.woff' from origin 'null' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'null' is therefore not allowed access. The response had HTTP status code 404.
         index.html:1 Access to Font at 'http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_bold.ttf' from origin 'null' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'null' is therefore not allowed access. The response had HTTP status code 404.
        index.html:1 Access to Font at 'http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_medium.woff' from origin 'null' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'null' is therefore not allowed access. The response had HTTP status code 404.
        index.html:1 Access to Font at 'http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_medium.ttf' from origin 'null' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'null' is therefore not allowed access. The response had HTTP status code 404.
*/

@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:100;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_ultralight.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_ultralight.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display 100';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_ultralight.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:200;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_thin.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_thin.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display 200';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_thin.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:300;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_light.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_light.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display 300';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_light.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:500;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_medium.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_medium.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display 500';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_medium.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:600;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_semibold.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_semibold.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display 600';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_semibold.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:700;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_bold.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_bold.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display 700';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_bold.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:800;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_heavy.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_heavy.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display 800';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_heavy.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:900;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_black.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_black.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display 900';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_black.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:400;
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_regular.eot");
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_regular.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_regular.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:normal;
  font-weight:100;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_ultralight.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_ultralight.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:italic;
  font-weight:100;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_ultralight-italic.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_ultralight-italic.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text 100';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_ultralight.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:normal;
  font-weight:200;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_thin.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_thin.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:italic;
  font-weight:200;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_thin-italic.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_thin-italic.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text 200';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_thin.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:normal;
  font-weight:300;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_light.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_light.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:italic;
  font-weight:300;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_light-italic.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_light-italic.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text 300';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_light.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:italic;
  font-weight:400;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_regular-italic.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_regular-italic.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:normal;
  font-weight:500;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_medium.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_medium.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:italic;
  font-weight:500;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_medium-italic.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_medium-italic.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text 500';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_medium.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:normal;
  font-weight:600;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_semibold.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_semibold.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:italic;
  font-weight:600;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_semibold-italic.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_semibold-italic.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text 600';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_semibold.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:normal;
  font-weight:700;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_bold.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_bold.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:italic;
  font-weight:700;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_bold-italic.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_bold-italic.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text 700';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_bold.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:normal;
  font-weight:800;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_heavy.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_heavy.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:italic;
  font-weight:800;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_heavy-italic.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_heavy-italic.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text 800';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_heavy.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:normal;
  font-weight:900;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_black.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_black.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:italic;
  font-weight:900;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_black-italic.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_black-italic.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text 900';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_black.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Text';
  font-style:normal;
  font-weight:400;
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_regular.eot");
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_regular.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_regular.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Icons';
  font-style:normal;
  font-weight:300;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_light.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_light.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Icons 300';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_light.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Icons';
  font-style:normal;
  font-weight:500;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_medium.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_medium.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Icons 500';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_medium.eot");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
  font-family:'SF Pro Icons';
  font-style:normal;
  font-weight:400;
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_regular.eot");
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_regular.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Icons/v1/SFProIcons_regular.ttf") format("truetype");
  /* (C) 2015 Apple Inc. All rights reserved.*/
}