.weather{
  flex-direction: column;
  background: $white;
  .info{
    color: $black;
  }
  .search {
    display: flex;
    input[type="text"] {
      background: transparent;
      border: 0;
      border-bottom: solid 1px $black;
      color: $black;
      font-weight: lighter;
      margin-right: 20px;
      font-size: 20px;
      outline: none;
      padding: 5px 15px 5px 0;
      transition: all 0.3s ease;
      width: 300px;
    }

    input[type="text"] :focus {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    }

    input::-webkit-input-placeholder {
      color: $black;
      text-transform: capitalize;
    }

    input::-moz-placeholder {
      color: $black;
      text-transform: capitalize;
    }
    button {
      background: #313131;
      border: 0;
      color: $white;
      font-size: 22px;
      font-weight: 700;
      width: 60px;
    }
  }
  .weatherResult{
    color: $black;
    .city, .icon {
      text-align: left;
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 0;
    }
    .icon{
      display: flex;
      align-items: center;
      margin: 0;
      img {
        width: 60px;
        margin: 0 5px;
      }
    }

    .sun, .wind {
      display: flex;
      flex-wrap: wrap;
    }

    .sun p, .wind p {
      width: 50%;
    }

    .wind p {
      margin-bottom: 0;
    }

    .sun p {
      width: 50%;
    }
  }

}
