@import "../../styles/variables";

.main-logo{
  z-index: 2;
  display: flex;
  align-items: center;
  @media all and (max-width: $size-md) {
    width: 100%;
    justify-content: center;
  }
  .logo {
    width: 30px;
    margin-right: 15px;
  }
  span{
    color: $blue;
    font-weight: bold;
  }
}
.navigation{
  width: 100%;
  background: $brown;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  z-index: 1;
  @media all and (max-width: $size-md) {
    padding: 10px 15px;
    flex-wrap: wrap;
  }
  ul{
    display: flex;
    justify-content: center;
    margin: 0;
    @media all and (max-width: $size-md) {
      width: 100%;
      flex-wrap: wrap;
    }
    li{
      a{
        padding: 15px 15px;
        display: block;
        font-size: 16px;
        color: $white;
        text-decoration: none;
        transition: all 0.3s ease;
        &:hover{
          opacity: 0.7;
        }
        @media all and (max-width: $size-md) {
          padding: 7px 7px;
        }
      }
    }
  }
}
.submenuWrapper{
  background: rgba(242,242,242,0.7);
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1;
  top: 46px;
  ul{
    margin: 0 auto;
    display: flex;
    li{
      a{
        padding: 15px;
        font-size: 14px;
        display: block;
        color: #333333;
        text-decoration: none;
      }
    }
  }
}
