@import '../../styles/variables.scss';


.home{
    padding:  0 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media all and (max-width: $size-md) {
        padding: 0 60px;
    }
    @media all and (max-width: $size-sm) {
        padding: 0 30px;
        width: 100%;
    }
    iframe{
        width: 80%;
        margin:  0 auto;
        height: 37vw;
        @media all and (max-width: $size-sm) {
            width: 100%;
            height: 50vw;
        }
    }
}

