@import "../../styles/variables";
.bankCurrency {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 100px;
  width: 80%;
  margin: 0 auto;
  @media all and (max-width: $size-md) {
    padding: 0 60px;
  }
  @media all and (max-width: $size-sm) {
    padding: 0 30px;
    width: 100%;
  }
  h2 {
    width: 100%;
  }
  > div {
    width: 50%;
  }
}
