@import '../../styles/variables.scss';


.aboutMe{
    padding:  0 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .content{
        width: 80%;
        margin-top: 30px;
        .skills-list{
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li{
                width: calc(25% - 15px);
                margin: 7.5px;

                span{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $black;
                    width: 100%;
                    border-radius: 3px;
                    height: 100%;
                    padding: 10px 15px;
                    background: $brown;
                    color: $white;
                    font-family: Roboto, Arial sans-serif;
                }
            }
        }
    }
}

